<div class="comments">
    <h2> Comments</h2>
    {{#each this}}
    <section class="comment">
        <p>
            {{comment_text}}
            <br>
            <span>Comment left by {{user.username}} on {{format_date created_at}}</span>
        </p>
    </section>
    {{/each}}
</div>