<div class="form">
<form class="login-form">
    <h3 class="loginFont">Log in to Techno Blog!!</h2>
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button class= "buttons"type="submit">Login</button>
    </div>
</form>
<form class="signup-form">
    <h2 class="loginFont">Sign up! Today!</h2>
    <div>
        <label for="username-signup">Usermame:</label>
        <input type="text" id="username-signup" />
    </div>
      <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" placeholder="at least 6 characters"/>
    </div>
    <div>
        <button class ="buttons" type="submit">Signup</button>
    </div>
</form>
</div>
<script src="/javascript/login.js"></script>