<div>
<form class="logout-form">
    <div>
        <p>Are You Sure You Want To Logout?</p>
    </div>
    <div>
        <button type="submit" class="buttons">Logout</button>
    </div>
</form>
</div>
<script src="/javascript/logout.js"></script>